<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <title>AISSQ - 2022</title>
    <link rel="stylesheet" href="assets/animate.min.css">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/mobile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<div class="d-flex flex-column min-vh-100">

    <div id="o-banner" class="d-flex flex-column-reverse flex-grow-1">
        <div id="c1" class="w-100 d-flex flex-wrap justify-content-around bg-white">
            <div class="my-3 d-flex flex-nowrap animate__animated animate__zoomIn animate__faster animate__delay-1s">
                <img class="ml-2 align-self-center" src="assets/calendar.webp" alt="Location" style="width: 40px;">
                <h3 class="align-self-center mx-2 mx-sm-4 text-normal">21<sup>st</sup> - 23<sup>rd</sup> January, 2022</h3>
            </div>
            <div class="my-3 d-flex flex-nowrap animate__animated animate__zoomIn animate__faster animate__delay-1s">
                <h3 class="mx-2 mx-sm-4 text-normal text-center"> <span class="text-blue text-normal"> Mode of Participation: </span> Online</h3>
            </div>
            <div class="my-3 align-self-center animate__animated animate__zoomIn animate__faster animate__delay-1s">
                <div class="register-btn rounded-lg d-flex flex-column justify-content-center animate__animated animate__bounce animate__delay-1500ms">
                    <a href="register.html" class="py-2"><h4 class="mb-0 text-white">&emsp; Register Here &emsp;</h4></a>
                </div>
            </div>
        </div>
        <div id="c2" class="p-2 p-sm-4 ml-md-auto col-12 col-md-8 col-lg-5 bg-white">
            <h2 class="m-3 mx-sm-4 text-blue text-normal text-center"> 12<sup>th</sup> AISSQ Conference</h2>
            <div class="text-center mt-sm-4">
                <h1 class="mx-2 mx-sm-4 display-3 font-weight-bold animate__animated animate__backInLeft animate__faster">Science & <br> Spiritual <br> Quest</h1>
            </div>
        </div>
        <img id="replace" src="assets/banner.png" alt="Banner">
    </div>
</div>
<div id="covid-safety">
    <a href="covid-safety.html">
        <div class="rounded-lg p-2">
            <h4 class="m-2 text-center text-white text-normal">Covid Safety Precautions</h4>
        </div>
    </a>
</div>

<main class="container-lg px-0 flex-grow-1">
    <div class="m-4">
        <div class="row row-cols-2 rounded-lg" style="border: 2px solid #AC1876; height: max-content;">
            <div class="col-12 col-sm-4 col-lg-6 order-sm-1">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <h1 class="title text-center my-2">News and Updates</h1>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6 order-sm-2" style="max-height: 360px; overflow-y:auto;">
                <div class="my-4">
                    <ul class="ml-1 pl-3">
                        <li class="my-1">Registrations for AISSQ 2022 are open now. <a href="register.html">Save your spot.</a></li>
                        <li class="my-1">See the Speakers announces for AISSQ 2022 and their brief Bio <a href="speakers.html">here</a>. </li>
                        <li class="my-1">Bhaktivedanta Institute announces All India Science and Spiritual Quest 2022 (AISSQ-2022). The Event will be in the days of 21<sup>st</sup> - 23<sup>rd</sup> January, 2022.</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-2 my-sm-3 my-lg-5">
        <div class="row row-cols-2 my-2 my-sm-4">
            <div class="col-12 col-sm-4 col-lg-6 order-sm-2">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <h1 class="title text-center my-2">Topics</h1>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6 order-sm-1">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2500">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        </ol>
                        <div class="carousel-inner rounded-lg shadow">
                            <div class="carousel-item active">
                                <a href="topics.html#topic1">
                                <img src="assets/topics/topic1.webp" class="d-block w-100" alt="Topic 1">
                                <div class="carousel-caption">
                                    <h4>Mathematics and Spirituality</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic2">
                                <img src="assets/topics/topic2.webp" class="d-block w-100" alt="Topic 2">
                                <div class="carousel-caption">
                                    <h4>Evolution and God</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic3">
                                <img src="./assets/topics/topic3.webp" class="d-block w-100" alt="Topic 3">
                                <div class="carousel-caption">
                                    <h4>Physics and Chemistry Beyond</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic4">
                                <img src="assets/topics/topic4.webp" class="d-block w-100" alt="Topic 4">
                                <div class="carousel-caption">
                                    <h4>Environment and Spirituality</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic5">
                                <img src="assets/topics/topic5.webp" class="d-block w-100" alt="Topic 5">
                                <div class="carousel-caption">
                                    <h4>Holistic Education and Development</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic6">
                                <img src="assets/topics/topic6.webp" class="d-block w-100" alt="Topic 6">
                                <div class="carousel-caption">
                                    <h4>Vedanta and Science</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic7">
                                <img src="assets/topics/topic7.webp" class="d-block w-100" alt="Topic 7">
                                <div class="carousel-caption">
                                    <h4>Biotechnology and Vedanta</h4>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="topics.html#topic8">
                                <img src="assets/topics/topic8.webp" class="d-block w-100" alt="Topic 8">
                                <div class="carousel-caption">
                                    <h4>Quantum Mechanics and Conciousness</h4>
                                </div>
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </div>
        <hr class="my-2 my-sm-3 my-lg-5">
        <div class="row row-cols-2 my-2 my-sm-4">
            <div class="col-12 col-sm-4 col-lg-6 order-sm-1">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <h1 class="title text-center my-2">Speakers</h1>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-6 order-sm-2">
                <div id="carouselSpeakers" class="carousel rounded-lg bg-slides slide w-100" data-ride="carousel" data-interval="2500">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselSpeakers" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSpeakers" data-slide-to="1"></li>
                        <li data-target="#carouselSpeakers" data-slide-to="2"></li>
                        <li data-target="#carouselSpeakers" data-slide-to="3"></li>
                        <li data-target="#carouselSpeakers" data-slide-to="4"></li>
                        <li data-target="#carouselSpeakers" data-slide-to="5"></li>
                      </ol>
                        <div class="carousel-inner rounded-lg shadow pb-4">
                            <div class="carousel-item active">
                                <a href="speakers.html#speaker1">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/martin_nowak.jpg"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Prof. Martin Nowak</h3>
                                        <h5 class="text-pink">Harvard University, USA</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="speakers.html#speaker2">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/gerald.jpg"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Prof. Gerald Schroeder</h3>
                                        <h5 class="text-pink">Aish HaTorah College of Jewish Studies, Israel</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            
                            <div class="carousel-item">
                                <a href="speakers.html#speaker3">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/Hector-Rosario.jpg"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Prof. Hector Rosario</h3>
                                        <h5 class="text-pink">University of Florida, USA</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="speakers.html#speaker4">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/Prof. Ramgopal Uppaluri.jpg"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Prof. Ramgopal Uppaluri</h3>
                                        <h5 class="text-pink">IIT Guwahati, India</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="speakers.html#speaker5">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/prabhat kumar singh.jpg"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Prof. P. K. Singh</h3>
                                        <h5 class="text-pink">IIT-BHU Varanasi, India</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="speakers.html#speaker6">
                                <div class="text-center d-flex flex-column justify-content-center">
                                    <img src="assets/speakers/hkmohanta.png"  class="align-self-center rounded-circle m-4 mb-0" style="width:175px;">
                                    <div class="align-self-center mb-3">
                                        <h3 class="text-white">Dr. Hare Krishna Mohanta</h3>
                                        <h5 class="text-pink">BITS Pilani, India</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselSpeakers" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselSpeakers" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
        </div>
        <hr class="my-2 my-sm-3 my-lg-5">
        <div class="row row-cols-2 my-2 my-sm-4">
            <div class="col-12 col-sm-6 col-lg-6 order-sm-2">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <h1 class="title text-center my-2">Publications</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 order-sm-1">
                <div id="carouselBooks" class="carousel rounded-lg bg-blue slide w-100" data-ride="carousel" data-interval="2500">
                    <div class="carousel-inner rounded-lg bg-pink">
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/life origin.jpg" alt="Life and It's Origin"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark ">LIFE And ITS ORIGIN - Exploration From Science And Spiritual Traditions</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/Mathematics and Reality.jpg" alt="Mathematics & Reality"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark ">Mathematics & Reality</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item active">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 my-sm-3 mb-sm-0 align-self-center" src="assets/books/quantum physics and conciousness.png" alt="Quantum Physics & Consciousness"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Quantum Physics & Consciousness</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/10th aissq.jpg" alt="10th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 10th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/4th aissq.jpg" alt="4th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 4th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/5th aissq.jpg" alt="5th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 5th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/6th aissq.jpg" alt="6th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 6th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/7th aissq.jpg" alt="7th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 7th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/8th aissq.jpg" alt="8th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 8th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/9th aissq.png" alt="9th AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The 9th All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="publications.html">
                            <div class="text-center d-flex flex-column justify-content-center">
                                <img class="m-2 m-sm-3 align-self-center" src="assets/books/aissq-thirupathi.png" alt="Tirupati AISSQ"  class="align-self-center m-4 mb-0" style="height:250px;">
                                <div class="align-self-center mb-3">
                                    <h5 class="m-0 text-dark">Science And Spiritual Quest-Proceedings Of The Tirupati All India Students’ Conference</h5>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselBooks" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselBooks" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> 
        </div>
        <hr class="my-2 my-sm-3 my-lg-5">
        <div class="row row-cols-2 my-2 my-sm-4">
            <div class="col-12 col-sm-6 col-lg-6 order-sm-1">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <h1 class="title text-center my-2">Register Now</h1>
                    <h5 class="text-center text-normal">Deadline: 15<sup>th</sup> January, 2022</h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 order-sm-2">
                <a href="register.html">
                    <img src="assets/cta.jpg" alt="CTA" class="border rounded-lg" style="max-width: 100%;">
                </a>
            </div> 
        </div>
      
    </div>
</main>

    <div id="quote" class="mt-4 mt-sm-4">
        <blockquote class="container-lg mx-auto m-0 blockquote p-3 p-sm-5">
            <div class="rounded-lg p-3 p-sm-4 p-md-5 bg-white">
                <p class="text-center"><span class="h1">“   </span>The first gulp from the glass of natural sciences will turn you into an atheist, 
                    but at the bottom of the glass God is waiting for you.<span class="h1">   ” <br/><br/><h4><center>- Werner Heisenberg</center></h4></span>
                </p>
            </div>
        </blockquote>
    </div>

    
</body>
</html>